<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../assesments/global.css">
    <link rel="stylesheet" href="../assesments/register.css">

  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <div>
          <input type="text" id="username" placeholder="username"/>
          <span class="input-message username_error"></span>
</div><div>
          <input type="password" id="password" placeholder="password"/>
          <span class="input-message password_error"></span>
</div><div>
          <input type="password" id="password_confirmation" placeholder="password confirmation"/>
          <span class="input-message password_confirmation_error" ></span>
</div><div>
          <input type="text" id="email" placeholder="email address"/>
          <span class="input-message email_error"></span>

</div><div>
          <button type="button" id="create-button">create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
</div>
        </form>

      </div>
    </div>

    <script src="/assesments/helper.js"></script>
    <script src="/assesments/register.js"></script>

  </body>
</html>
